<!-- views/contact.ejs -->
<div class="form-header">
    <h2>Information of Auto Drivers </h2>
 
    <h2>Please Fill the info (कृपया खालील माहिती भरा) </h2>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="message">Auto Number  (रिक्षा नंबर)</label>
      <textarea class="input" id="message" name="message" rows="1" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Owner Name  (मालकाचे नाव)</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-field">
        <label for="mobile">Mobile Number  (पेटीएम मोबाईल नंबर)</label>
        <textarea class="input" id="mobile" name="mobile" rows="1" autofocus></textarea>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>